
footer{
    /*position: absolute !important;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    padding: 1rem;
}

.title-link{
    color: #333;
    text-decoration: none;
}
.title-link:hover{
    color: #333;
    text-decoration: none;
}


.category-challenge{
    font-size: 18px;
}

.short-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.nav-hio{
    margin-left: 80px;
}
.nav-profile{
    margin-left: 358px;
}
.nav-logout{
    color: #B3B3B3 !important;
    padding-left: 0px !important;
}
@media (min-width: 768px){
    .nav-hio{
        margin-left: 0px;
    }
}

@media (max-width: 1200px){
    .nav-profile{
        margin-left: 30px;
    }
}

#mobile-notifications{
    display: none;
}
@media (max-width: 768px){
    .nav-profile{
        margin-left: 0px;
    }
    .nav-logout{
        padding-left: 15px !important;
    }

    #logo-hio-mobile {
        margin-left: 20px;
    }

    #mobile-notifications{
        display: block;
    }

    .navbar-brand {
        margin-top: 10px;
        margin-left: 15px;
        float: none !important;
    }
}

.navbar-toggle {
    width: 50px;
    height: 50px;
    border-radius: 0px;
}

.social-buttons :hover{
    color: #ffffff;
}

.small-header{
    background-image: url('img/small_header_382.jpg'));
background-size: cover;
margin-top: 67px;
}

@media (min-width: 600px){
    .small-header{
        background-image: url('img/small_header_600.jpg'));
background-size: cover;
margin-top: 67px;
}
}

@media (min-width: 768px){
    .small-header{
        background-image: url('img/small_header_750.jpg'));
background-size: cover;
margin-top: 0px;
}
}

@media (min-width: 992px){
    .small-header{
        background-image: url('img/small_header_970.jpg'));
background-size: cover;
margin-top: 0px;
}
}

@media (min-width: 1200px){
    .small-header{
        background-image: url('img/small_header_1170.jpg'));
background-size: cover;
margin-top: 0px;
}
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

body:after {
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #eb1946;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    z-index: 2000;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

section:last-child {
    margin-top: 120px;
}

html{
    height: 100%;
}

.search-select2 .select2-container{
    width: 100% !important;
    /*padding: 10px 15px;*/
}

.select2-dropdown{
    /*width: 400px !important;*/
}

.search-img{
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown-header {
    border-width: 0 0 1px 0;
    text-transform: uppercase;
}

.dropdown-header > span {
    display: inline-block;
    padding: 10px;
}

.dropdown-header > span:first-child {
    width: 50px;
}

.k-list-container > .k-footer {
    padding: 10px;
}

.select2-container .select2-results__option {
    line-height: 1em;
    min-width: 300px;
}

.select2-container .select2-results__option > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px 10px 5px;
}

.select2-container .select2-results__option > span:first-child {
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.select2-container h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 1px 0;
    padding: 0;
}

.select2-container p {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    background: #1a1a1a;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    /*position: relative;*/
    z-index: 1;
    /*will-change: transform;*/
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}




.profile-wrapper {
    /*background: url(http://mdbootstrap.com/images/sidenavs/mdb.jpg) center center no-repeat;*/
    /*background-size: cover;*/
}
@media (max-height: 910px){
    .profile-wrapper a {
        height: 80px;
    }
}
.profile-side-img {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 90px;
    height: 90px;
}


.nav-side-search{
    border-bottom: 1px solid #fff;
    font-weight: 300;
    padding-left: 30px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 100% !important;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

ul, ul li {
    list-style-type: none;
}


.search-form .select2-container{
    width: 100% !important;
}

.nav-list-item{
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2px;
}


.nav-list-item a{
    margin-bottom: 5px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    display: block;
}

.nav-list-item .fa {
    font-size: 20px;
    margin-right: 13px;
    color: rgba(227,242,253,.64);
}

.form-control-search:focus {
    background: 0 0;
}
.form-control-search .select2-container--default .select2-selection--multiple{
    background-color: transparent;
    border-radius: 0px;

    height: 67px;
    border: 0px solid #aaa;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.search-form{
    color: white;
}
.form-control-search .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    margin-top: 20px;
    padding-left: 25px;
}

.profile-wrapper p {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.modal-backdrop{
    /*left: auto;*/
    /*z-index: 0;*/
}

.modal-open {
    overflow: inherit;
}

html, body{
    padding-right: 0px !important;
    position: relative!important;
}


@media (min-width: 0px) {

    .menu-lateral{
        display: none;
    }

}


#full-nav .badge-notify{
    position: relative;
    top: -40px;
    left: 7px;
}
.badge-notify{
    background: #eb1946;
}

.dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
}


.glyphicon-bell {

    font-size:12pt;
}

#full-nav .notifications {
    min-width:420px;
    padding-bottom: 0px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}

.menu-title {
    color: #000;
    font-size:1.5rem;
    display:inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;
}


.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.dropdown-menu.divider {
    margin:5px 0;
}

.item-title {

    font-size:1.3rem;
    color:#000;

}

.notifications a.content {
    text-decoration:none;
    background:#ccc;

}

.notification-item {
    margin:5px;
    padding: 10px 10px 5px;
    /*background:#ccc;*/
    border-radius:4px;
    position: relative;
}


.navbar-default .nav li a {
    color: #eb1946;
}
.navbar-default .nav li a:hover {
    color: #fff;
}

.navbar-fixed-top.scrolled {
    background-color: #222 !important;
    transition: background-color 200ms linear;
}

.badge{
    padding-left: 6px;
    padding-right: 6px;
}

header{
    /*background-image:url(../img/header-bg.jpg);background-repeat:none;background-attachment:scroll;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;*/
    text-align:center;
    color:#fff;
    background-color: #191c20;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

@media (max-width: 767px){
    .proves-title{
        margin-bottom: 50px !important;
    }
}

.proves-title{
    margin-bottom: 20px;
    font-size: 25px;
    color: #eb1946;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}

.proves-container{
    min-height: 300px;
    background-color: #ffffff;
    padding: 0px;
    /*width: 500px;*/
    font-weight: 400;
}

.proves-container:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.proves-divider{
    height: 1px;
    margin-top: 20px;
    background-color: #e5e5e5;
}

.proves{
    padding-top: 20px;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
    padding-left: 50px;
    padding-right: 50px;
}

.proves:hover{
    background-color: #ededee;
}

.proves:first-child {padding-top: 25px}
.proves:last-child {padding-bottom: 25px}

.proves:last-child .proves-divider {display: none}


.proves img{
    width: 50px;
    /*border-bottom: 1px solid #ff0000;*/
}

.proves-icon{
    color: #b2b2b2;
    font-size: 16px;
}

.proves a{
    font-size: 14px;
}

.proves-container:hover .proves a{
    font-size: 12px;
}

.read{
    color: #999999;
}

.unread{
    color: #eb1946;
}
/*.unread a{*/
/*color: #ffffff !important;*/
/*}*/

.notifications a:hover {
    color: #000 !important;
}

.notifications .col-md-8{
    padding: 0px;
}

.clickable {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.clickable-link{
    z-index: 2;
    position: relative;
}

@media (min-width: 768px) {
    .navbar-default {

        padding-bottom: 0px;

    }
}

.img-circle {
    object-fit: cover;
}



.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.margin-bottom{
    margin-bottom: 10px;
}

.center-middle{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.modal-dialog{
    overflow-y: initial !important
}
#challenge-views-modal .modal-body{
    height: 350px;
    overflow-y: auto;
}

.pointer{
    cursor: pointer;
}

@media only screen
and (max-device-width : 1024px) {
    .tooltip {
        display: none !important;
    }
}

.same-height-modal-views{
    /*width: 62px;*/
    /*height: 62px;*/
    /*max-height: 95vh;*/
}


.modal-dialog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
    min-height: -webkit-calc(100vh - 60px);
    min-height: -moz-calc(100vh - 60px);
    min-height: calc(100vh - 60px);
}
@media (max-width: 767px) {
    .modal-dialog {
        min-height: -webkit-calc(100vh + 30px);
        min-height: -moz-calc(100vh + 30px);
        min-height: calc(100vh + 30px);
    }
}

.header-link {
    color: #ffffff !important;
    font-size: 16pt;
}
.header-link-secondary {
    color: #43484c !important;
    font-size: 16pt;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*font-family: "Myriad pro Semibold"*/

/*Medium*/
/*font-family: "Roboto";*/
/*font-weight: 500;*/


.navbar-nav .active:after {
    position: absolute;
    bottom: 7px;
    left: 15px;
    right: 15px;
    /*margin-left: -5px;*/
    vertical-align: middle;
    content: " ";
    border-bottom: 3px solid;
    color: #eb1946;
}
/*.modal-backdrop {*/
/*height: 100%;*/
/*}*/


#search-modal .select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
    margin-left: 20px;
}

.select2-results__message {
    display: none;
}
.select2-dropdown {
    background-color: white;
    border: 0px solid #aaa;
}
#search-modal .select2-container .select2-search--inline {
    float: inherit;
}
#search-modal .select2-selection__choice{
    display: none;
}

body{
    font-weight: 600;
}

.notification-text a{
    text-transform: capitalize !important;
}

.text-color1{
    color: #003333;
}

.notification-time{
    color: #999999;
}

.notification-text img {
    width: 40px;
}

.notification-text .col-sm-9, .notification-text .col-md-9{
    padding-left: 0px;
    padding-right: 0px;
}

.notification-text i{
    margin-top: 10px;
}





.notifications-wrapper::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.notifications-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

/* Handle */
.notifications-wrapper::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px #eb1946;
}
.notifications-wrapper::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

.notifications-wrapper .divider:first-child {
    margin-top: 0px;
}

.challenge-item a{
    padding: 0px;
}





.challenge-item-deadline {
    font-size: 11.313px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.945;
    text-align: right;
    border-radius: 5px;
    background: #eb1946;
}
.challenge-item-category {
    font-size: 10px;
    font-family: "Roboto";
    color: rgb(225, 47, 89);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.222;
    text-align: center;
}

.challenge-item-caption{
    background-color: #fff;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
}

.challenge-item-title {
    font-size: 18.384px;
    font-family: "Roboto";
    color: rgb(64, 77, 87);
    text-align: left;
    line-height: 1.2;
}



@media (min-width: 767px){
    .challenge-item {
        margin: 0 0 30px;
    }
}
.challenge-item {
    min-height: 275px;
}

.challenge-item img {
    width: 270px;
    object-fit: cover;
    height: 153px;
}

@media (max-width: 767px){
    .challenge-item {
        /*margin-left: 30px;*/
        /*margin-right: 45px;*/
        margin-bottom: 90px;
    }
    .challenge-item-info {

        width: 70% !important;
        top: 70% !important;
    }


    .challenge-item img {
        height: 250px !important;
        width: 90% !important;
    }

    .challenge-item-title-container{
        margin-top: 15px;
    }
}

@media (max-width: 500px){

    .challenge-item-info {

        width: 70% !important;
        top: 50% !important;
    }


    .challenge-item img {
        height: 190px !important;
    }

}


.challenge-item-info {
    background-color: #fff;
    padding-bottom: 20px;
    min-height: 120px;
    position: absolute;
    width: 77%;
    top: 40%;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}


.footer-icon li a{
    background-color: transparent;
    background: transparent;
    color: #ffffff !important;
    font-size: 17pt;
}
body{
    font-size: 16px;
    /*background-color: #191c20;*/
}

.footer-links{
    color: #43484c;
    font-size: 16px;
}
.footer-links a{
    color: #43484c;
    text-transform: uppercase;
}
@media (max-width: 992px){

    .footer-links li{
        display: block;
        margin-bottom: 5px;
    }
    .footer-links li:nth-child(even) {
        display: none;
    }
}

.navbar-default .navbar-brand {
    color: #eb1946;
    font-family: "Roboto";
}

#full-nav .badge-notify {
    position: relative;
    top: -40px;
    left: 7px;
}


.btn_approve {
    float: left;
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #a7a7a7;
    margin: 15px;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.btn_approve:hover{
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
}
.btn_approve i {
    display: inline-block;
    width: 40px;
    height: 80px;
    font-size: 45px;
}

.like{
    color: #5cb767;
}

.dislike{
    color: #ff720e;
    float: right;
}

.img-circle {
    border-radius: 50% !important;
}


.create-input{
    font-family: "Roboto";
    background-color: transparent !important;
    border: 0;
    border-bottom: 2px solid rgba(188, 188, 188, 0.2);
    padding: 0px;
    font-size: 16px;
    color: #C1C5C8 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);

}

.create-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #C1C5C8;
}
.create-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #C1C5C8;
    opacity:  1;
}
.create-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #C1C5C8;
    opacity:  1;
}
.create-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #C1C5C8;
}

.create-input:focus {
    border-color: transparent;
    outline: 0;
    box-shadow:none;

    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235,25,70,.6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235,25,70,.6);*/
}

.date-title{
    text-transform: inherit;
    font-weight: 400;
}

.bootstrap-datetimepicker-widget table td.day {
    height: 38px;
    line-height: 20px;
    width: 60px;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #eb1946;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker-days thead tr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.datepicker-days .picker-switch{
    font-size: 25px;
    color: #eb1946;
}

.bootstrap-datetimepicker-widget table th {
    height: 20px;
    line-height: 40px;
    width: 20px;
}

.bootstrap-datetimepicker-widget .datepicker-years thead .picker-switch {
    cursor: default;
    pointer-events: none;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    margin-left: 50%;
    font-size: 30px;
    margin-bottom: 30px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


#create-challenge .modal-body {
    position: relative;
    padding: 0px 15px;
}

/************************************************************************************/
.close-btn {
    display: block;
    width: 2.625em;
    height: 2.25em;
    padding: 0;
    border: 0;
    outline: none;
    background: #333333 url("../img/close-btn.svg") left center no-repeat;
    background-size: 1.875em 1.875em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
    background-image: url("../img/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.nav-btn {
    display: block;
    width: 2.625em;
    height: 2.25em;
    padding: 0;
    border: 0;
    outline: none;
    background: #333333 url("../img/nav-icon.svg") left center no-repeat;
    background-size: 1.875em 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .nav-btn {
    background-image: url("../img/nav-icon.png");
}
.nav-btn:hover, .nav-btn:focus {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}

#nav {
    z-index: 200;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: #fff;
    display: none;
}
#nav .close-btn {
    display: none;
}
#nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#nav .block {
    z-index: 2;
    position: relative;
    padding: 0.75em 1.25em;
    background: #333333;
}
#nav ul {
    *zoom: 1;
    display: block;
    padding-left: 0px;
}
#nav ul:before, #nav ul:after {
    content: "";
    display: table;
}
#nav ul:after {
    clear: both;
}
#nav li {
    display: block;
}
#nav li a {
    display: block;
    color: #ccc;
    font-size: 0.875em;
    line-height: 1.28571em;
    font-weight: bold;
    outline: none;
}
#nav li a:focus, #nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
#nav li.is-active a {
    color: #fff;
}

#top {
    z-index: 100;
    position: relative;
    color: #fff;
    background: #333333;
}
#top .block-title {
    margin: 0;
    font-size: 1.875em;
    line-height: 1.2em;
    text-align: center;
    white-space: nowrap;
}
#top .nav-btn {
    position: absolute;
    top: 1.5em;
    left: 1.875em;
}

#main {
    background: #fff;
}
#main .block {
    padding: 2.625em 1.875em;
}

footer[role="contentinfo"] {
    background: #ddd;
}

@media screen and (min-width: 768px) {
    #top .nav-btn {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    #nav .close-btn {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    #nav .block-title {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    #nav ul {
        text-align: center;
        white-space: nowrap;
    }
    #nav li {
        /*display: inline-block;*/
        /*border-right: 1px solid rgba(255, 255, 255, 0.1);*/
    }
    #nav li:last-child {
        border-right: none;
    }
    #nav li a {
        padding: 0.42857em 0.85714em;
    }
}
@media screen and (max-width: 768px) {
    #nav {
        position: absolute;
        top: 0;
        padding-top: 5.25em;
        display: block;
    }
    #nav:not(:target) {
        z-index: 1;
        height: 0;
    }
    #nav:target .close-btn {
        display: block;
    }
    #nav .close-btn {
        position: absolute;
        top: -3.75em;
        left: 1.875em;
    }
    #nav .block {
        position: relative;
        padding: 0;
    }
    #nav li {
        /*position: relative;*/
        /*border-top: 1px solid rgba(255, 255, 255, 0.1);*/
    }
    #nav li:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    #nav li.is-active:after {
        z-index: 50;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: -0.03125em;
        margin-top: -0.625em;
        border-top: 0.625em transparent solid;
        border-bottom: 0.625em transparent solid;
        border-right: 0.625em white solid;
    }
    #nav li a {
        padding: 0.85714em 2.14286em;
    }

    .js-ready #nav {
        height: 100%;
        width: 70%;
        background: #333333;
        -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
        box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    }
    .js-ready #nav .block {
        background: transparent;
    }
    .js-ready #nav .close-btn {
        display: block;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }
    .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    .js-ready #nav {
        left: -70%;
    }
    .js-ready #inner-wrap {
        left: 0;
    }

    .js-nav #inner-wrap {
        left: 70%;
    }

    .csstransforms3d.csstransitions.js-ready #nav {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .csstransforms3d.csstransitions.js-ready #inner-wrap {
        left: 0 !important;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .csstransforms3d.csstransitions.js-nav #inner-wrap {
        -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    }

    .csstransforms3d.csstransitions.js-ready #nav .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
        -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
        -webkit-transition-delay: ease, 0s;
        -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
        -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
        transition: opacity 300ms 100ms ease, transform 500ms ease;
        -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -o-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    .csstransforms3d.csstransitions.js-nav #nav .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.wall-fame-title{
    text-align: center;
    font-size: 37px;
    color: #43484c;
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 20px;
    text-transform: inherit;
}




#list-proofs article {
    margin-bottom: 30px;
    border-top: 1px solid #eee;
    padding: 20px 10px 10px;
}


#list-proofs .header-list-proofs {
    margin-bottom: 10px;
    position: relative;

}

#list-proofs h2 {

    text-transform: inherit;
    font-weight: bold;
}

#list-proofs h2 a {
    font-size: 20px;
    color: #000;

}

#list-proofs .post-container {
    width: 100%;
    max-width: 500px;
    position: relative;
}

#list-proofs .post-container a img {
    display: block;
    width: 100%;
    max-width: 500px;
    border: 0;
}

#list-proofs p.post-meta {
    color: #999;
    margin: 10px 0;
}

#list-proofs p.post-meta a {
    color: #999;
    font-weight: 400;
}

#list-proofs .post-afterbar-a.in-list-view {
    width: 100%;
    max-width: 500px;
}

#list-proofs .post-afterbar-a {
    margin: 10px 0;
    padding-bottom: 0;
}
#list-proofs .badge-toolbar-pre, .post-afterbar-a {
    position: relative;
}

.left {
    float: left!important;
}

#list-proofs .btn-vote {
    overflow: hidden;
    padding: 0;
}

#list-proofs .btn-vote li {
    margin: 0 10px 0 0;
    float: left;
    list-style: none;
}

#list-proofs .btn-vote a {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 44px;
    height: 34px;
    display: block;
    text-indent: -999px;
    position: relative;
}



#list-proofs .btn-vote .down:after, #list-proofs .btn-vote .up:after {
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
}
#list-proofs .btn-vote .up:after {
    background: url(../img/sprite.png) -120px 0 no-repeat;
    background-size: 240px 60px;
}

#list-proofs .btn-vote .down:after {
    background: url(../img/sprite.png) -150px 0 no-repeat;
    background-size: 240px 60px;
}

#list-proofs .btn-vote .comment:after, .btn-vote .up.active:after {
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

#list-proofs .btn-vote .comment:after {
    background: url(../img/sprite.png) -180px 0 no-repeat;
    background-size: 240px 60px;
}

.right {
    float: right!important;
}


#list-proofs .post-afterbar-a .share ul {
    overflow: hidden;
    list-style-type: none;
}

#list-proofs .post-afterbar-a .share.right li {
    margin: 0 0 0 10px;
}
#list-proofs .post-afterbar-a .share li {
    float: left;
    margin-right: 10px;
}

#list-proofs .post-afterbar-a .btn-share.facebook {
    background-color: #3b5998;
}
#list-proofs .post-afterbar-a .btn-share {
    display: block;
    color: #fff;
    font-weight: 700;
    height: 34px;
    /*background-color: #f4f4f4;*/
    line-height: 34px;
    padding: 0 15px 0 34px;
    border-radius: 2px;
    text-align: center;
    position: relative;
}

#list-proofs .post-afterbar-a .btn-share.facebook:after {
    content: " ";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 2px;
    background: url(../img/sprite.png) -90px 0 no-repeat;
    background-size: 240px 60px;
}

.post-afterbar-a .btn-share.twitter {
    background-color: #00aced;
}

#list-proofs .post-afterbar-a .btn-share.twitter:after {
    content: " ";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 2px;
    background: url(../img/sprite.png) -90px -30px no-repeat;
    background-size: 240px 60px;
}

.clearfix {
    clear: both;
}

#list-proofs .btn-vote .up.active:after {
    background: url(../img/sprite.png) -120px -30px no-repeat;
    background-size: 240px 60px;
}

#list-proofs .btn-vote .down.active:after {
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    background: url(../img/sprite.png) -150px -30px no-repeat;
    background-size: 240px 60px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

.your-proof{
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: inherit !important;
    height: 34px;
    padding: 0 10px;
    display: block;
    text-indent: inherit !important;
    position: relative;
}