
footer{
    /*position: absolute !important;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    padding: 1rem;
}

.title-link{
    color: #333;
    text-decoration: none;
}
.title-link:hover{
    color: #333;
    text-decoration: none;
}


.category-challenge{
    font-size: 18px;
}

.short-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.nav-hio{
    margin-left: 80px;
}
.nav-profile{
    margin-left: 358px;
}
.nav-logout{
    color: #B3B3B3 !important;
    padding-left: 0px !important;
}
@media (min-width: 768px){
    .nav-hio{
        margin-left: 0px;
    }
}

@media (max-width: 1200px){
    .nav-profile{
        margin-left: 30px;
    }
}

@media (max-width: 768px){
    .nav-profile{
        margin-left: 0px;
    }
    .nav-logout{
        padding-left: 15px !important;
    }

    .navbar-brand img {
        margin-left: 20px;
    }

    .navbar-brand {
        margin-top: 10px;
        margin-left: 15px;
        float: none !important;
    }
}

.navbar-toggle {
    width: 50px;
    height: 50px;
    border-radius: 0px;
}

.social-buttons :hover{
    color: #ffffff;
}

.small-header{
    background-image: url('img/small_header_382.jpg'));
background-size: cover;
margin-top: 67px;
}

@media (min-width: 600px){
    .small-header{
        background-image: url('img/small_header_600.jpg'));
background-size: cover;
margin-top: 67px;
}
}

@media (min-width: 768px){
    .small-header{
        background-image: url('img/small_header_750.jpg'));
background-size: cover;
margin-top: 0px;
}
}

@media (min-width: 992px){
    .small-header{
        background-image: url('img/small_header_970.jpg'));
background-size: cover;
margin-top: 0px;
}
}

@media (min-width: 1200px){
    .small-header{
        background-image: url('img/small_header_1170.jpg'));
background-size: cover;
margin-top: 0px;
}
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

body:after {
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #eb1946;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    z-index: 2000;
    line-height: 27px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

section:last-child {
    margin-top: 120px;
}

html{
    height: 100%;
}

.search-select2 .select2-container{
    width: 100% !important;
    /*padding: 10px 15px;*/
}

.select2-dropdown{
    /*width: 400px !important;*/
}

.search-img{
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown-header {
    border-width: 0 0 1px 0;
    text-transform: uppercase;
}

.dropdown-header > span {
    display: inline-block;
    padding: 10px;
}

.dropdown-header > span:first-child {
    width: 50px;
}

.k-list-container > .k-footer {
    padding: 10px;
}

.select2-container .select2-results__option {
    line-height: 1em;
    min-width: 300px;
}

.select2-container .select2-results__option > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px 10px 5px;
}

.select2-container .select2-results__option > span:first-child {
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.select2-container h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 1px 0;
    padding: 0;
}

.select2-container p {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    background: #1a1a1a;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    /*position: relative;*/
    z-index: 1;
    /*will-change: transform;*/
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}




.profile-wrapper {
    /*background: url(http://mdbootstrap.com/images/sidenavs/mdb.jpg) center center no-repeat;*/
    /*background-size: cover;*/
}
@media (max-height: 910px){
    .profile-wrapper a {
        height: 80px;
    }
}
.profile-side-img {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 90px;
    height: 90px;
}


.nav-side-search{
    border-bottom: 1px solid #fff;
    font-weight: 300;
    padding-left: 30px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 100% !important;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

ul, ul li {
    list-style-type: none;
}


.search-form .select2-container{
    width: 100% !important;
}

.nav-list-item{
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2px;
}


.nav-list-item a{
    margin-bottom: 5px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    display: block;
}

.nav-list-item .fa {
    font-size: 20px;
    margin-right: 13px;
    color: rgba(227,242,253,.64);
}

.form-control-search:focus {
    background: 0 0;
}
.form-control-search .select2-container--default .select2-selection--multiple{
    background-color: transparent;
    border-radius: 0px;

    height: 67px;
    border: 0px solid #aaa;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.search-form{
    color: white;
}
.form-control-search .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    margin-top: 20px;
    padding-left: 25px;
}

.profile-wrapper p {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.modal-backdrop{
    /*left: auto;*/
    /*z-index: 0;*/
}

.modal-open {
    overflow: inherit;
}

html, body{
    padding-right: 0px !important;
    position: relative!important;
}


@media (min-width: 0px) {

    .menu-lateral{
        display: none;
    }

}


#full-nav .badge-notify{
    position: relative;
    top: -40px;
    left: 7px;
}
.badge-notify{
    background: #eb1946;
}

.dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
}


.glyphicon-bell {

    font-size:12pt;
}

#full-nav .notifications {
    min-width:420px;
    padding-bottom: 0px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}

.menu-title {
    color: #000;
    font-size:1.5rem;
    display:inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;
}


.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.dropdown-menu.divider {
    margin:5px 0;
}

.item-title {

    font-size:1.3rem;
    color:#000;

}

.notifications a.content {
    text-decoration:none;
    background:#ccc;

}

.notification-item {
    margin:5px;
    padding: 10px 10px 5px;
    /*background:#ccc;*/
    border-radius:4px;
    position: relative;
}


.navbar-default .nav li a {
    color: #eb1946;
}
.navbar-default .nav li a:hover {
    color: #fff;
}

.navbar-fixed-top.scrolled {
    background-color: #222 !important;
    transition: background-color 200ms linear;
}

.badge{
    padding-left: 6px;
    padding-right: 6px;
}

header{
    /*background-image:url(../img/header-bg.jpg);background-repeat:none;background-attachment:scroll;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;*/
    text-align:center;
    color:#fff;
    background-color: #191c20;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

@media (max-width: 767px){
    .proves-title{
        margin-bottom: 50px !important;
    }
}

.proves-title{
    margin-bottom: 20px;
    font-size: 25px;
    color: #eb1946;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}

.proves-container{
    min-height: 300px;
    background-color: #ffffff;
    padding: 0px;
    /*width: 500px;*/
    font-weight: 400;
}

.proves-container:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.proves-divider{
    height: 1px;
    margin-top: 20px;
    background-color: #e5e5e5;
}

.proves{
    padding-top: 20px;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
    padding-left: 50px;
    padding-right: 50px;
}

.proves:hover{
    background-color: #ededee;
}

.proves:first-child {padding-top: 25px}
.proves:last-child {padding-bottom: 25px}

.proves:last-child .proves-divider {display: none}


.proves img{
    width: 50px;
    /*border-bottom: 1px solid #ff0000;*/
}

.proves-icon{
    color: #b2b2b2;
    font-size: 16px;
}

.proves a{
    font-size: 14px;
}

.proves-container:hover .proves a{
    font-size: 12px;
}

.read{
    color: #999999;
}

.unread{
    color: #eb1946;
}
/*.unread a{*/
/*color: #ffffff !important;*/
/*}*/

.notifications a:hover {
    color: #000 !important;
}

.notifications .col-md-8{
    padding: 0px;
}

.clickable {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.clickable-link{
    z-index: 2;
    position: relative;
}

@media (min-width: 768px) {
    .navbar-default {

        padding-bottom: 0px;

    }
}

.img-circle {
    object-fit: cover;
}



.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.margin-bottom{
    margin-bottom: 10px;
}

.center-middle{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.modal-dialog{
    overflow-y: initial !important
}
#challenge-views-modal .modal-body{
    height: 350px;
    overflow-y: auto;
}

.pointer{
    cursor: pointer;
}

@media only screen
and (max-device-width : 1024px) {
    .tooltip {
        display: none !important;
    }
}

.same-height-modal-views{
    /*width: 62px;*/
    /*height: 62px;*/
    /*max-height: 95vh;*/
}


.modal-dialog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
    min-height: -webkit-calc(100vh - 60px);
    min-height: -moz-calc(100vh - 60px);
    min-height: calc(100vh - 60px);
}
@media (max-width: 767px) {
    .modal-dialog {
        min-height: -webkit-calc(100vh + 30px);
        min-height: -moz-calc(100vh + 30px);
        min-height: calc(100vh + 30px);
    }
}

.header-link {
    color: #ffffff !important;
    font-size: 16pt;
}
.header-link-secondary {
    color: #43484c !important;
    font-size: 16pt;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*font-family: "Myriad pro Semibold"*/

/*Medium*/
/*font-family: "Roboto";*/
/*font-weight: 500;*/


.navbar-nav .active:after {
    position: absolute;
    bottom: 7px;
    left: 15px;
    right: 15px;
    /*margin-left: -5px;*/
    vertical-align: middle;
    content: " ";
    border-bottom: 3px solid;
    color: #eb1946;
}
/*.modal-backdrop {*/
/*height: 100%;*/
/*}*/


#search-modal .select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
    margin-left: 20px;
}

.select2-results__message {
    display: none;
}
.select2-dropdown {
    background-color: white;
    border: 0px solid #aaa;
}
#search-modal .select2-container .select2-search--inline {
    float: inherit;
}
#search-modal .select2-selection__choice{
    display: none;
}

body{
    font-weight: 600;
}

.notification-text a{
    text-transform: capitalize !important;
}

.text-color1{
    color: #003333;
}

.notification-time{
    color: #999999;
}

.notification-text img {
    width: 40px;
}

.notification-text .col-sm-9, .notification-text .col-md-9{
    padding-left: 0px;
    padding-right: 0px;
}

.notification-text i{
    margin-top: 10px;
}





.notifications-wrapper::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.notifications-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

/* Handle */
.notifications-wrapper::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px #eb1946;
}
.notifications-wrapper::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

.notifications-wrapper .divider:first-child {
    margin-top: 0px;
}

.challenge-item a{
    padding: 0px;
}





.challenge-item-deadline {
    font-size: 11.313px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.945;
    text-align: right;
    border-radius: 5px;
    background: #eb1946;
}
.challenge-item-category {
    font-size: 10px;
    font-family: "Roboto";
    color: rgb(225, 47, 89);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.222;
    text-align: center;
}

.challenge-item-caption{
    background-color: #fff;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
}

.challenge-item-title {
    font-size: 18.384px;
    font-family: "Roboto";
    color: rgb(64, 77, 87);
    text-align: left;
    line-height: 1.2;
}



@media (min-width: 767px){
    .challenge-item {
        margin: 0 0 30px;
    }
}
.challenge-item {
    min-height: 275px;
}

.challenge-item img {
    /*width: 270px;*/
    object-fit: cover;
    height: 153px;
}

@media (max-width: 767px){
    .challenge-item {
        /*margin-left: 30px;*/
        /*margin-right: 45px;*/
        margin-bottom: 90px;
    }
    .challenge-item-info {

        width: 70% !important;
        top: 70% !important;
    }


    .challenge-item img {
        height: 250px !important;
    }

    .challenge-item-title-container{
        margin-top: 15px;
    }
}

@media (max-width: 500px){

    .challenge-item-info {

        width: 70% !important;
        top: 50% !important;
    }


    .challenge-item img {
        height: 190px !important;
    }

}


.challenge-item-info {
    background-color: #fff;
    padding-bottom: 20px;
    min-height: 120px;
    position: absolute;
    width: 77%;
    top: 40%;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}


.footer-icon li a{
    background-color: transparent;
    background: transparent;
    color: #ffffff !important;
    font-size: 17pt;
}
body{
    font-size: 16px;
    background-color: #191c20;
}

.footer-links{
    color: #43484c;
    font-size: 16px;
}
.footer-links a{
    color: #43484c;
    text-transform: uppercase;
}
@media (max-width: 992px){

    .footer-links li{
        display: block;
        margin-bottom: 5px;
    }
    .footer-links li:nth-child(even) {
        display: none;
    }
}